@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'CustomFont';
    src: url('img/AbhayaLibre-Bold.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}
:root {
    --Bereablue: #27348b;
    --white: #ffffff;
    --bereagray:#6D6E71;
  }

  body{
    background: url(img/DSC_0159.png);
    background-size: cover;
    margin: 0px;
  }

*{
  font-family: "Montserrat", sans-serif;

}

h1{
  text-align: center;
  color: white;
}

a{
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  header{
      margin: 0px;
      width: 100%;
      background-color: var(--Bereablue);
      color: #ffffff;
  
  
  }
  header h3{
      font-family: "CustomFont" , sans-serif;
  }
  
  header a{
        transition: transform 1s ease;
  }
  
  header a:hover {
    transform: translateY(-10px);
    text-decoration: none;
  }

.contents-bar{
  display: none;
  width: 100%;

  justify-content: center;
  text-align: right;
  
}

  .logo  {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
  }
  
  .logo img{
      clip-path: circle();
      width: 80px;
      height: 80px;
  }
  
  .centerbox{
      display: flex;
      align-items: center;
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
  }
  .centerbox h1{
      width: fit-content;
  }
  
  .centerbox nav{
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }
  .centerbox nav a{
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: white;
  
  }

/* contents bar */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.3);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


  /* catalogue */
#fullSearch{
  border: 2px solid black;
  width: 80dvw;
  border-radius: 10px;
  background: var(--Bereablue);
  padding: 10px;
  text-align: center;
  color: white;
}

.truecenter{

    align-items: center;
    text-align: center;
}
#myInput {
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    
}

#myInput:placeholder-shown{

    align-items: center;
    
}

.grayoverlay{
  background-color: rgba(23, 23, 24, 0.623);
}

.specializedCenter{
  margin-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.catalogue {
  position:relative;
  margin-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  width: 100vw;
  z-index: 1000;
}



.bookinfo {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  position: relative;
  background: linear-gradient( 180deg, rgb(0, 0, 0) , rgba(15, 15, 15, 0.9)),url(img/Pattern.png);
  background-size: cover;
  border: 1px solid black;
  /* border-radius: 20px; */
  padding: 5px;
  margin: 5px;
  width: max-content;
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 350px;  Set a fixed height */
  transition: 0.5s;

  
}

.bookinfo img{
  width: 30vh;
  height: 40vh;
}



.bookinfo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background-image: inherit; /* Inherit the background image from parent */
  backdrop-filter: blur(10px); /* Apply blur effect to the pseudo-element */
  z-index: -1; /* Ensure the pseudo-element is behind other content */
}





.bookinfo:hover{
  background-color: black;
  box-shadow: 0 5px 5px 5px black , 2px 2px 2px 2px gray;
}

.bookinfo h4 {
  z-index: 1000;
  text-align: center;
  width: 100%;
  height: 100%;
  
  color: white; /* Adjust color for better visibility */
  background: rgba(0, 0, 0, 0.5); /* Optional: Add background for better readability */
  padding: 1px; /* Optional: Add padding for better readability */
  border-radius: 0px; /* Optional: Add border radius for better aesthetics */
  margin: 5px;

}

.btnbox{
  display: flex;
  margin: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: 1s ease;

}

.btnbox button{
  border: none;
  padding: 5px;
  margin: 1px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}

.btnbox button:hover{
  box-shadow: 0 2px 2px 3px black;
}

.rentbtn {
  display: none;
  transition: 1s ease;
}

.bookinfo:hover .rentbtn {
  display: block;
}



/* .catalogue a h4{
  transition: 1s;
}

.catalogue a:hover h4{
  bottom: -100%;
} */

.line{
  border-left: 3px solid white;
  padding-left: 5px;
}
footer{
 
  background-color: var(--Bereablue);
  margin-top: 10px;
  color: var(--white);
  display: flex;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;


}

footer a{
    transition: transform 0.5s ease;
}

footer a:hover {
transform: translateY(-10px);
text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .logo{
    width: 100dvw;
  }
  .logo h3{
    width: max-content;
  }
  .contents-bar{
    display: flex;
    width: 100%;
   justify-content: flex-end;
    
  }
  
  .centerbox{
    margin:0px;
    width: 100%;
  }
  .centerbox nav{
    width: 0%;
    display: none
  };
}